@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,700;1,400&display=swap");

body {
  font-family: "Karla", sans-serif;
  background-color: hsl(204, 43%, 93%);
  font-size: 16px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 95vw;
}
.main-container {
  box-shadow: hsl(218, 22%, 67%) 0px 48px 100px 0px;
  border-radius: 8px 8px 8px 8px;
}
.white-container {
  padding: 20px 0 30px 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 8px 8px 0 0;
}
.bottom-container {
  display: flex;
}
.bottom-left-container {
  border-radius: 0 0 0 8px;
  background-color: hsl(179, 62%, 43%);
  width: 310px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 30px;
}
.bottom-right-container {
  background-color: hsl(179, 46%, 57%);
  height: 270px;
  width: 340px;
  border-radius: 0 0 8px 0;
}

/*fonts */
.card-header {
  color: hsl(179, 62%, 43%);
}
.card-header2 {
  color: hsl(71, 73%, 54%);
}

.white-paragraph {
  color: hsl(218, 22%, 67%);
  font-weight: 400;
}

.bottom-left-header {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 16px;
  padding-top: 15px;
}

.price-tag {
  color: white;
}
.time-tag,
.access {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
}

.inline-container h1,
.inline-container h2 {
  display: inline;
  vertical-align: top;
}

.bottom-right-header {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 16px;
  padding-top: 30px;
  padding-left: 40px;
}
.bottom-right-paragraph p {
  margin: 0;
  color: white;
  padding-left: 40px;
}

/* Button */
button {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  background-color: hsl(71, 73%, 54%);
  border: none;
  font-size: 16px;
  color: white;
  padding: 15px 32px;
  max-width: 240px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.access {
  padding-bottom: 15px;
}

@media only screen and (max-width: 960px) {
  main {
    height: unset;
    width: unset;
  }

  .main-container {
   
    flex-direction: column;
  }
  .white-container{
    max-height: 300px;
    max-width: 290px;
   
  }
  .bottom-container{
    flex-direction: column;
  }
  .bottom-left-container{
    border-radius: unset;
    padding-bottom: 20px;
  }
 
  button{
    max-width: 280px;
  }
}
